
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a id ="topper" class="navbar-brand" href="#">
        <img src= https://bcassetcdn.com/public/blog/wp-content/uploads/2019/11/02142653/Rabbit.jpg alt="" width="100" height="88" class="d-inline-block align-text-top">
        Paducah University
      </a>
      </div>
      <div id="nav" class="container-fluid">
      <li class="nav-item">
        <%= link_to 'Students', students_path, class:'nav-item' %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Courses </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </div>
  </nav>
    <div id="outline" class="container-fluid bg-dark">
        <img src="https://images.unsplash.com/flagged/photo-1554473675-d0904f3cbf38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid" alt="...">
      </div>
      <div class="container">
      <div class="row">
      <div class="card">
        <div class="card-header">
        Infested Bunny Athlectics
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
         World class facilities
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>  
      </div>
      <div class="card">
        <div class="card-header">
       Apply Today!
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      </div>
      
          <footer id="footer" class="footer mt-auto py-3 bg-light">
            <div class="container-fluid">
              <span class="text-muted">Ludo Web Services</span>
            </div>
          </footer>



